body {
	background-color: #b5e3ea;
	
}

h1 {
	background-color: #faebd7;
	width: 330px;
	margin: 1px;
}

p {
	margin: 4px;
}

#text-box {
	background-color: #faebd7;
	border: solid black 1px;
	margin: 2px;
}

#score-box {
	background-color: #d6b396;
	width: 30%;
	height: 80px;
	margin: 2px;

}

#score-count-box {
	background-color: #8b7d6b;
	width: 100px;
	height: 60px;
	margin: 2px;
}

#Wins {
	margin: 0px;
}

#Losses {
	margin: 0px;
}

#crystal-box {
	background-color: #7fbab8;
	width: 30%;
	clear: both;

}

img {
	width: 100px;
	height: 100px;
}

#total-score {
	background-color: #7fbab8;
	width: 30%;
	height: 100px;
	margin: 2px;
}

#score-text {
	margin: 0px;
}

#random-score-text {
	margin: 0px;
}

